.App{
  width: 50%;
  border: solid 1px black;
  border-radius: 5px;
  padding: 25px;
  margin: auto;
}

.movieNav{
  display: flex;
  
}
input{
  width: 60%;
}
button{
  width: 20%;
  margin-right: 20px;
}


.moviecard{
  display: flex;
  flex-direction: column;
  width: 30%;
  border: solid black 1px;
  margin-top: 7%;
}
.moviecard img{
width: 100%;
}
/* .Movie-note{
  border: solid black 1px;
  border-right: none;
  border-top: none;
  border-left: none;
} */
.Movielist{
  display: flex;
  justify-content: space-around;
}